.ish {
  font-family: 'Macondo', cursive;
  position: absolute;
  bottom: -1200px;
  left: 10px;
}

.pngg {
  position: absolute;
  bottom: -1800px;
  left: 10px;
}

.step1 {
  font-family: 'Koulen', cursive;
  position: absolute;
  bottom: -1175px;
  left: 10px;
}

